<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password_hash %><br />
    <%= f.text_field :password_hash %>
  </p>
  <p>
    <%= f.label :password_salt %><br />
    <%= f.text_field :password_salt %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
