<% title "Cars" %>

<table>
  <tr>
    <th>Brand</th>
    <th>Name</th>
    <th>Speed</th>
    <th>Beauty</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for car in @cars %>
    <tr>
      <td><%=h car.brand %></td>
      <td><%=h car.name %></td>
      <td><%= ratings_for car, :static, :small => true, :dimension => :speed %></td>
      <td><%= ratings_for car, :static, :small => true, :dimension => :beauty %></td>
      <td><%= ratings_for car, :static, :small => true, :dimension => :price %></td>
      <td><%= link_to "Show", car %></td>
      <td><%= link_to "Edit", edit_car_path(car) %></td>
      <td><%= link_to "Destroy", car, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Car", new_car_path %></p>
